*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, p{
	text-align: center;
}

.item1{
  	overflow-x: scroll;
}

.item3 {
  	grid-row: 1/3;
 	grid-column: 2;
}


.grid-container {
  	display: grid;
  	grid-template-columns: 75% 25%;
  	grid-gap: 1em;
  	background-color: white;
  	padding: 0em;
  	align-items: center;
}

.grid-container > div {
  	text-align: center;
}

body{
  	font-family: sans-serif;
  	color: #481E65;
  	min-width: 700px;
}

h1{
  	display: flex; /*centering a grid-item, this is in the master div*/ 
  	align-items: center;
  	justify-content: center;
  	margin-top: 2em;
}


/* TABLE STYLING */ 
.table-div{ 
  	width: 100%;
  	overflow: auto;
  	margin-left: 2em;;
  	margin-right: 2em;
  	max-height: 600px;
}

table{
  	margin: 1em;
  	table-layout: fixed;
  	display: inline-table;
  	overflow: scroll;
}

td {
  	white-space: nowrap;
  	overflow-x: scroll; /*within cell scroll*/
  	height: 2em;
  	background-color: #F8EEFF;
 	border-collapse: collapse;
  	font-family: sans-serif;
  	margin: 1em;
 	padding-top: 0.5em;
  	padding-bottom: 0.5em;
  	outline: none;
}

th{
  	overflow-x: scroll;
  	outline: none;
  	height: 2em;
}

.cell-div{
  margin-left: 1em;
}

#exclude{ /*overriding first col's width*/
  	width: 4em;
  	overflow-x: scroll;
}

.calculated-cell{
	min-width: 10em;
	text-align: left; /* want text of calculated cells to match the position of the other tds */
  	padding-left: 1em;
}

.checkbox-cell{
	width: 4em;
}

input{
	border:none;
	background-color: #F8EEFF;
	outline: none;
	padding-top: 0.5em;
	padding-bottom: 0.5wm;
	font-size: 1em;
}

/* TABLE BUTTONS */

#table-btns-div{
  	display: flex;
  	justify-content: center;
}

.table-btn, .graph-btn, .fit-button{
  	background-color: #F8EEFF;
  	border: none;
}

.table-btn{
  	margin: 1em;
  	padding: 1em;
}

.fit-button{
  	font-size: 1.2em;
  	margin: 0.5em 3em 0.5em 3em;
  	text-align: center;
  	width: 10em;
  	height: 4.5em;
}

.hov:hover { /* all buttons have this class, when calculator buttons get disabled will remove this class from them */
    	background-color:#EED2FF;
    	transition: 0.7s;
}

#fit-selector{ /*want this to be bigger than the other buttons in the graph selectors*/
  	height: 6em;
}

#fit-container{
  	max-height: 400px; 
}

/* CUSTOM CHECKBOX IN FIRST COL OF THE TABLE */
.container {
  	display: block;
  	position: relative;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  	position: absolute;
  	opacity: 0;
  	cursor: default;
  	height: 0;
  	width: 0;
}

/* Create a custom checkbox */
.checkmark {
  	position: absolute;
  	top: 0;
  	left: 0;
  	height: 1em;
  	width: 1em;
  	background-color: #F8EEFF;
  	border: 0.15em solid #481E65;
  	border-radius: 0.15em;
  	transform: translate(1.3em, -0.3em);
}

.container:hover input ~ .checkmark {
  	background-color: #481E65;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  	background-color: #F8EEFF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  	content: "";
  	position: absolute;
  	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  	left: 0.25em;
  	top: 0.1em;
  	width: 0.25em;
  	height: 0.55em;
  	border: solid #481E65;
  	border-width: 0 0.15em 0.15em 0;
  	-webkit-transform: rotate(45deg);
  	-ms-transform: rotate(45deg);
  	transform: rotate(45deg);
}

/* styling dropdowns for graph options */
#fit-navbar{
  	margin: 0;
}

ul {
  	display: grid;
  	grid-template-columns: 100%;
  	list-style-type: none;
  	padding: 0.5em;
  	background-color: "white";
  	font-size: 0.8em;
  	margin: 1em;
  	align-items: center;
  	justify-items: center;
}

li a, .dropbtn {
  	display: inline-block;
  	color: white;
  	text-align: center;
  	text-decoration: none;
}

li {
  	float: none; /*centers*/
  	display: inline-block;
}

li.dropdown {
  	display: inline-block;
}

.dropdown-content {
  	display: none;
  	position: absolute;
  	background-color: #f9f9f9;
  	min-width: 200px;
  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;
  	transform: translate(-70%, -80%);
}

.dropdown-content a {
  	text-decoration: none;
  	display: block;
  	text-align: center;
}

.dropdown-content .dropdown-option:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  	display: block;
}

.dropdown-option{
  	width: 100%;
  	height: 3em;
  	display: flex; /*to get the text to be centered vertically and horizontally*/
  	align-items:center;
 	 justify-content:center;
}

.current { /*so we can highlight the chosen element in the dropdown with the js*/
	background-color: #f1f1f1; 
}

/*the graph and div where fit information will go*/

canvas{
  	padding-left: 0;
  	padding-right: 0;
  	margin-left: auto;
  	margin-right: auto;
  	display: block;
}

#graph-btns-div{
 	 display: flex;
  	justify-content: center;
  	column-gap: 2rem;
  	margin-top: 2em;
	margin-bottom: 2em;
}

#zoom-in, #zoom-out{
	padding-left: 3em;
	padding-right: 3em;
  	font-size: 1em;
}

#refit, #clear-graph{
  	padding-left: 2rem;
  	padding-right: 2rem;
}

#fit-report{
  	text-align: center;
  	margin-left: 5rem;
  	margin-right: 5rem;
}

#graph-div{
	margin-top: 2em; /*otherwise overlaps the ul with graph dropdowns*/
  	display: none; /*as default*/
	grid-template-columns: 100%
	justify-content: center;
}

/* The Modal (background) */
.modal {
  	display: none; /* Hidden by default */
  	position: fixed; 
  	z-index: 1; /* Sit on top */
 	left: 0;
  	top: 0;
  	width: 100%; /* Full width */
  	height: 100%; /* Full height */
  	overflow: auto; /* Enable scroll if needed */
 	background-color: rgb(0,0,0); /* Fallback color */
  	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  	background-color: white;
  	margin: 15% auto; /* 15% from the top and centered */
  	padding: 1em;
  	border: none;
  	width: 80%; 
}

/* The Close Button */
#close-div{
  	justify-self: end;
  	font-size: 2em;
}

.close {
  	color: #aaa;
  	float: right;
  	font-weight: bold;
}

.close:hover,
.close:focus {
  	color: black;
  	text-decoration: none;
  	cursor: pointer;
}

/* FORMULA CALC */
#calc-contain{
  	display: grid;
  	grid-template-columns: 70% 30%; /*30% for the column buttons*/
}

.calc-btn:hover:enabled { 
  	background-color: #EED2FF;
  	transition: 0.7s;
}

.calculator {
  	display: grid;
  	border: none;
  	position: relative;

}

.calculator-screen {
  	margin-left: 2em;
  	padding-top: 1em;
    	padding-left: 0.5em;
  	border: 1px solid #481E65;
  	width: 60%;
  	overflow-x: scroll;
	height: 3em;
	background-color: #F8EEFF;
}

#name{
  	outline: none;
	border: none;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}

#name-col{
	display: grid;
	grid-template-columns: 20% 70%;
  	align-items: center;
  	margin-left: 2em;
  	margin-top: 2em;
	
}

.calc-btn {
  	background-color: #F8EEFF;
  	border-radius: 0.3em;
  	border: none;
  	font-size: 1rem;
  	margin: 0.3em;
  	padding: 1em;
}


.calculator-keys {
  	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-row-gap: 0.5em;
  	grid-column-gap: 0.5em;
  	padding: 2em;
}

#submit{
  	grid-column-start: 1;
  	grid-column-end: 4; /*was 5 before adding the delete button. want submit, clear on same line submit spanning all cols except last*/
}

#col-names{
  	display: grid;
  	grid-row-end: span 2;
  	align-content: start;
}
.col-btn{
  	background-color: #DEFBFF;
  	border-radius: 0.3em;
  	border: none;
  	font-size: 1rem;
  	color: #08626F;
  	margin: 0.3em;
  	height: 3em;
  	wrap: break-word; /*possible the way to get the text to wrap when too long for one line... */
}

.col-btn:hover{ 
  	background-color: #95F2FF;
}

.title{
  	margin-left: 2em;
}

/* to deactive background buttons while modals are open*/

body.modal-open {
  	pointer-events: none;
}

body.modal-open .fit-btn {
  	pointer-events: auto;
}

body.modal-open .calc-btn {
  	pointer-events: auto;
}

#invalid-formula{
  	visibility: hidden; /*visible only if students try to submit invalid formula*/
  	margin-left: 2em;
}

#invalid-formula > p{ /*paragraph that is a child of*/
	color: #B51A1A; /*warning is dark red*/
	text-align: left;
}

/*for small window screens*/
@media only screen and (max-width: 800px) {
  	.grid-container {
    		grid-template-columns: 100%;
  	}
    	.item3 {
      		grid-row: 3;
      		grid-column: 1;
    	}
  	.table-div{
    		width: 90%;
  	}
  	ul{
    		grid-template-columns: 90%;
  	}
	li{
    		width: 100%;
  	}
  	.fit-button{
    		width: 100%;
    		height: 3em;
  	}

  	#fit-selector{
    		height: 5em;
  	}
  	.dropdown-content {
     		transform: translate(50%, -20%);
  	}
}